/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   padding-top: 50px
 }
.avatar {
  background-color: #888;
}

.avatar.avatar-tiny {
  border-radius: 4px;
}

.avatar.avatar-thumb {
  border-radius: 8px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 60px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.category {
    background-color: #fb853e;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.category:hover {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.title {
    background-color: #9999FF;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.title:hover {
    background-color: #7CD585;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.image {
    width: 230px;
    height: 100%
}